body {

  background-color: white;

}


p {

  font-family: times;
  font-size: 25px;


}




.jumbotron {

  background-color:green;
  color:white;

}


.fore-group {
  
  color:white;


}


 
 
 
#add-topic

{

  border-color: teal;
  background-color:teal;
  color:white;


  
}


.topic {



  border-color: teal;
  background-color:teal;
  color:white;
  border-radius:10px;
  margin-right: 10px;


}



#topics-view {

  margin-bottom:50px;: 
}


#topic-form {
  
  height:100px;
  float: right;
  margin-top: 25px;

}


#topic-input {

  width:200px;

}


#gifs-appear-here {

  float:left;

  

}

